# Backend
backend/.env
backend/logs
backend/tmp
backend/bin
backend/gen/go

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/src/proto

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

# Dependencies
vendor/
